[Unit]
Description=container-qt-tflite Service
# wait for network to come up before we run
After=network.target

[Service]
WorkingDirectory=/apps/container-qt-tflite/
ExecStart=/usr/bin/runc run container-qt-tflite
