[Unit]
Description=container-qt-evcs-package Service
# wait for network to come up before we run
After=network.target

[Service]
WorkingDirectory=/apps/container-qt-evcs-package/
ExecStart=/usr/bin/runc run container-qt-evcs-package
